[2017-08-17 16:54] Blackbaud-JoshuaWinter opened #6 "Storage cleanup"
Hello, does this plugin somehow cleanup old messages from the storage account? Glancing at the source code it seems to not take care of any cleanup. Would you recommend a cleanup strategy?

Thanks.

[2017-08-18 06:49] SeanFeldman opened #7 "Enable SourceLink-ing"

[2017-08-18 06:50] #7 closed

[2017-08-18 06:53] SeanFeldman commented on #6
@Blackbaud-JoshuaWinter cleanup strategies vary between different project. For a message representing an event, cleanup is a bit tricky. What cleanup strategy are you looking for specifically?

[2017-08-21 18:49] SeanFeldman opened #11 "Remove Storage emulator 5.2 installation PS script"
AppVeyor now includes that in the image.

Announcement: https://www.appveyor.com/updates/2017/08/17/

[2017-08-22 04:59] #11 closed

[2017-08-22 05:05] SeanFeldman commented on #6
The current behavior does something to help with cleanup. It stamps blobs for messages with TTL set with a custom attributed `_ValidUntilUtc`. If you use TTL with your messages, you could periodically scan blobs and remove if custom attribute is set to a date that is in past.

[2017-08-27 08:53] iremmats opened #13 "Feature suggestion - SAS uri"
One weakness (depends on you look at it) of the current implementation is that everyone that consumes messages needs to have a connection string to the same storage account. If you send messages internally within your application this is no issue but if you send to others this will create dependencies.

At our company we have implemented Claim Check Pattern for some time too. Instead of setting a

[2017-09-07 05:45] SeanFeldman commented on #13
That's an interesting idea. This allows to decouple receiver and the sender.
Are you setting the SAS link TTL to an infinite time? Can't assume when the message is going to be consumed.

[2017-09-07 06:59] iremmats commented on #13
I think our default is 1 week. This has been working for perfectly fine for us. But its up to the sender to set that TTL depending on the scenario.

[2017-09-07 07:02] SeanFeldman commented on #13
I like the idea. 1 week is a bit too short in some scenarios. Would have to
check what's the maximum possible.

On Sep 7, 2017 00:59, "Mats Iremark" <notifications@github.com> wrote:

[2017-09-07 18:25] jtaubensee commented on #13
+1 for this idea. To @SeanFeldman's point, it probably would be best to leave the existing implementation as the default, and to add SAS tokens as something you would opt into.

[2017-09-13 05:18] SeanFeldman commented on #13
Closed via https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/commit/71e0a7c8ca59490308fd3eb45f5387626e29601b

[2017-09-13 05:18] #13 closed

[2017-09-18 03:33] SeanFeldman opened #15 "Receiver configured with different container threw with insufficient information"
Receiver configured with different blob storage container didn't provide information in exception to identify blob and container. Instead, a general `StorageException` was thrown with insufficient information.

[2017-09-18 04:11] #15 closed

[2017-11-01 05:43] darrenshrwd opened #20 "Support for Microsoft.Azure.ServiceBus -Version 2.0.0"
Hi, 2.0.0 came out (just 19 days ago). Will this package be updated to also work with it?

I tried and it compiles, but when I run I get:
System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Azure.ServiceBus, Version=1.0.0.0

[2017-11-01 05:56] SeanFeldman commented on #20
@darrenshrwd absolutely.

[2017-11-01 07:09] SeanFeldman commented on #20
Closed via https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/commit/00264beaea99a073003a3a70da2d8bb531a2a7f4

[2017-11-01 07:09] #20 closed

[2017-11-01 07:15] SeanFeldman commented on #20
2.0.0 released.

[2017-11-01 22:33] darrenshrwd commented on #20
Thanks for quick response but why does it require .NET 4.6.2 ?  It is .NET 4.6.1 that is the lowest common support of .NET standard 2.0 https://docs.microsoft.com/en-us/dotnet/standard/net-standard

[2017-11-01 22:41] SeanFeldman commented on #20
Error on my end.
I'll release 2.0.1 to address that.

[2017-11-01 23:09] darrenshrwd opened #23 "Version 2.x.x dependency should be .NET 4.61"
The new 2.0 nuget package requires .NET 4.6.2.  However 4.6.1 that is the lowest common support of .NET standard 2.0 (https://docs.microsoft.com/en-us/dotnet/standard/net-standard) and that would match with Microsoft.Azure.ServiceBus v2.0.0

[2017-11-01 23:12] SeanFeldman commented on #23
Sorry for the inconvenience.
PR #22 is merged and [2.0.1 is released](https://www.nuget.org/packages/ServiceBus.AttachmentPlugin/2.0.1).

[2017-11-01 23:12] #23 closed

[2017-11-22 15:23] bledbet opened #24 "Using plugin in a "receive only" mode w/o connection string"
Hi - great work.  Appologies if I am missing something obvious - I have a working sample of a sender and reciever, but it is not quite clear to me how you configure the receiver such that it does not need the storage account connection string - I think I see in the code of the plugin itself that it may not leverage the connection string in the case that the message has the SAS uri, but the connect

[2017-11-22 22:42] SeanFeldman commented on #24
Thank you @bledbet 🙂

Sending a message without exposing the storage account to receivers feature was built with an design assumption that receivers of the ASB message are not part of your system and would receive a message the way they can and retrieve the body the way then need to as well.

Saying that, I see what you're asking - a case where 2 parties agree on this plugin, but the sending party

[2017-11-23 02:10] bledbet commented on #24
Hey Sean - yeah, I think you have correctly understood what I was thinking.  I am implementing pub/sub in an enterprise, trying to apply domain separation, and try to limit coordination of external resources (connection strings) across domains, so I like that the SAS token approach lets the consumer receive everything necessary to receive the payload through the brokered message, and yes, was thin

[2017-11-23 02:47] SeanFeldman commented on #24
@bledbet thinking about it, it's a legitimate use case.
If you want to contribute, feel free to send a PR. If you want to collaborate, we can do that over a PR as well.

The old client (`WindowsAzure.ServiceBus`) doesn't support a plugin model and on its way "out". Hence why it's not something I'll focus on.

[2017-11-23 07:57] SeanFeldman commented on #24
How about API like this:

[code]

- Will not requried `AzureStorageAttachmentConfiguration` argument
- Will only attempt to use SAS URI if one exists
- Will throw if is used for sending (sender)

[2017-11-23 16:04] bledbet commented on #24
That could work.  Just food for thought: In my own framework (because I can't take the time to refactor around the newer service bus client assembly right now), my producer and consumer are separate - you could separate your plugin into something like an "AttachmentProducerPlugin" and a "AttachmentConsumerPlugin", they could both just accept the configuration - the producer plugin would pretty muc

[2017-11-23 17:22] SeanFeldman commented on #24
That's more or less the intent behind [my comment here](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/issues/24#issuecomment-346550205). Extension method just hides away the details from the callers that don't really care if it's the same plugin or two different ones 🙂

I'll probably add the feature as it seems very reasonable given the scenario you've provided. Thank you @bledbet.

[2017-11-25 04:12] SeanFeldman opened #26 "Update to stable XUnit adapter"

[2017-11-25 07:08] SeanFeldman commented on #26
Closed via https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/commit/ecac98f7a670707ebbb344f6c0952cd8521ca047

[2017-11-25 07:08] #26 closed

[2017-11-27 04:52] #24 closed

[2017-11-27 05:40] SeanFeldman commented on #24
@bledbet released as `2.1.0`.
Thanks for a good idea.

[2018-01-01 17:18] tomkerkhove opened #30 "Integration with Azure Key Vault"
Are there plans to integrate with Azure Key Vault?

The plugin would authenticate with a specific AD application, fetch the storage key from a configured vault & secret and use that.

## Pros
- Allows consumers to automatically roll storage account keys without the plugin noticing it
- Have audit logs of whom is using the keys
- Re-use existing secret management approaches

## Cons
- Additional de

[2018-01-03 05:57] SeanFeldman commented on #30
I like the idea. The dependency on Key Vault is less ideal, but could be managed through having an additional package to extend ServiceBus.AttachmentPlugin.
Have no good hands on experience with Key Vault. If you could point me to a quick start/good resource, I'll have a look and get it going.

[2018-01-03 13:39] jtaubensee commented on #30
Hey @SeanFeldman - I like the idea as well. I think one decision, or possible setting to include, is whether or not to do the encryption inside the process, or in KeyVault. KeyVault has two different kinds of values: secrets and keys. Keys can be generated by KeyVault, and never pulled out. You can then have KeyVault perform all of the cryptographic operations necessary, so the library will never

[2018-01-03 14:43] tomkerkhove commented on #30
@jtaubensee There is also an issue for the plugin btw (https://github.com/Azure/azure-service-bus-dotnet-plugins/issues/17)

On the topic - For this plugin I think the way to go is Key Vault Secret as we are only interested in the Key or SAS for a specific storage account/container.

If you elaborate on how you'd want to do this I can help you a bit or jump in.

[2018-01-03 14:52] jtaubensee commented on #30
@tomkerkhove - Apologies, I missed the point of this. I would agree with using a secret for the connection string.

[2018-01-03 15:24] tomkerkhove commented on #30
@jtaubensee Don't worry, thanks for elaborating anyway!

[2018-02-20 16:20] RickCSharp opened #31 "Usage of plugin in triggered Azure functions"
Hi Sean!

I have known about your plugin through our colleague Clemens.
We're trying to use the plugin via functions triggered by the presence of messages in the queue.
_Is it even possible?_

Input: We can write the message OK, and a blob is created.
Output: we read the message but the payload is empty...

This is the code of the function that reads the new message in the queue:

using System;
us

[2018-02-20 17:23] SeanFeldman commented on #31
@RickCSharp I haven't tried this scenario. As any other plugin, it would need to be configured and registered with the ASB client, which tells me that the provided ASB binding would not be suitable and would need to be replaced by a custom one. In that case, the scenario above would work. Would you like to try it?

[2018-02-21 05:17] SeanFeldman commented on #31
I've briefly looked into how `ServiceBusTrigger` is working. When a [`MessageReceiver` is created](https://github.com/Azure/azure-webjobs-sdk/blob/f70476485521b73f9023ba3b46d8baed5157173c/src/Microsoft.Azure.WebJobs.ServiceBus/MessagingProvider.cs#L37), it would need to be configured with the attachment plugin. Theoretically, it should be possible to create a custom trigger using this approach tha

[2018-02-21 06:27] RickCSharp commented on #31
Hi Sean
I am happy to contribute to the project.
I will write to you to see if I am going in the right direction :-)
Take care
Riccardo

[2018-02-21 06:27] #31 closed

[2018-02-27 06:10] SeanFeldman commented on #31
@RickCSharp have you tried anything so far?
I might have some time to play with this. If you don't want to post here, ping me via email (feldman.seat at gmail).

[2018-03-08 23:53] SeanFeldman commented on #30
**Update** after thinking about this a bit more, I've decided to add ability to register providers for connection strings and create a separate nuget package with KeyVault provider. Reason for separation is not to force coupling with [KeyVault package](https://www.nuget.org/packages/Microsoft.Azure.KeyVault/) which has some dependencies. By doing so, a change in keyvault provider would not require

[2018-03-09 00:07] SeanFeldman commented on #6
@Blackbaud-JoshuaWinter I'm going to close this issue since there was not a lot of feedback. I suspect is has to do with the reasons outlined here: https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/issues/6#issuecomment-323274934.

In case you'd like to send a PR or have some ideas how to help your scenario, please chime in 🙂

[2018-03-09 00:07] #6 closed

[2018-03-09 00:23] tomkerkhove commented on #30
Makes perfect sense!

[2018-03-12 02:34] #30 closed

[2018-03-12 06:16] SeanFeldman commented on #30
Pre-released package of KeyVault provider is available on nuget https://www.nuget.org/packages/ServiceBus.AttachmentPlugin.KeyVaultProvider/

[2018-03-12 06:42] SeanFeldman commented on #30
@tomkerkhove @jtaubensee help to spread the word and make this world a safer place 😃

[2018-03-18 15:26] SeanFeldman commented on #31
@RickCSharp I was a bit busy releasing support for KeyVault and MSI.
At the MVP summit earlier this month I spoke with @jeffhollan about enabling support for ASB plugins. If that comes, you should be able to use SB.AttachmentPlugin.

[2018-04-09 10:14] SimonCropp opened #36 "missing dispose?"
https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/blob/develop/src/ServiceBus.AttachmentPlugin/AzureStorageAttachment.cs#L13

[2018-04-09 21:04] SeanFeldman commented on #36
Will have a look into it. Thank you @SimonCropp

[2018-04-09 23:14] SimonCropp commented on #36
does `ClientEntity.RegisterPlugin` detect and correctly handle when a plugin is disposable?

[2018-04-09 23:43] SeanFeldman commented on #36
There's UnregisterPlugin, but nothing about resources de-allocation specifically.
`ServiceBusPlugin` would need to implement `IDisposable` and `IClientEntity.CloseAsync` implementors would need to call the dispose.

I think this goes beyond this specific plugin and needs to be raised as an issue for the [client](https://github.com/Azure/azure-service-bus-dotnet/).

[2018-04-10 00:01] SimonCropp commented on #36
want me to do that?

[2018-04-10 00:27] SeanFeldman commented on #36
I'll raise it. And follow up here. Seems like a design change suitable for
the next major scheduled soon (v3).

On Mon, Apr 9, 2018, 18:01 Simon Cropp <notifications@github.com> wrote:

[2018-04-10 00:48] SeanFeldman commented on #36
Raised an issue (https://github.com/Azure/azure-service-bus-dotnet/issues/440) with the client. Once that API changes, I'll address it here.

[2018-04-11 23:53] SeanFeldman commented on #36
Based on the discussion in https://github.com/Azure/azure-service-bus-dotnet/issues/440, I lean towards exposing disposing option on the plugin level rather than expect it to be driven by the ASB client API.

[2018-04-16 17:03] SeanFeldman commented on #31
@RickCSharp if you still want the functionality, there's an [issue](https://github.com/Azure/azure-functions-host/issues/2504) with Azure Functions. Cast your vote there 🙂
https://github.com/Azure/azure-functions-host/issues/2504

[2018-04-17 01:45] adnanrahat opened #37 "Improve performance in BeforeMessageSend()"
In AzureStorageAttachment::BeforeMessageSend(), the code looks like as

            _await InitializeClient().ConfigureAwait(false);
            if (!configuration.MessageMaxSizeReachedCriteria(message))
            {
                return message;
            }_

I think bringing down the InitializeClient() after the MaxMessage check should improve the performance of the SendMessage call(). Othe

[2018-04-17 04:49] #37 closed

[2018-04-17 04:52] SeanFeldman commented on #37
Done. Thank you @adnanrahat.
This is what's done in `AfterMessageReceive` and should have been done in `BeforeMessageSend` as well.

[2018-04-17 06:50] SeanFeldman commented on #36
@SimonCropp see #38.

I chose to return `ServiceBusPlugin` to allow subscequent registrations using base `ClientEntity.RegisterPlugin()`.

[2018-04-20 06:58] SeanFeldman commented on #36
@SimonCropp if you're happy with this approach, I'll merge it.

[2018-04-20 08:00] SimonCropp commented on #36
Lgtm

[2018-04-27 06:24] SeanFeldman opened #39 "Document changes made in 3.0.0"
- Update ServiceBus.AttachmentPlugin.KeyVaultProvider to [work with v3](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin.KeyVaultProvider/blob/develop/src/KeyVaultProvider/KeyVaultProvider.csproj#L34)
- #38

[2018-04-27 06:34] SeanFeldman opened #40 "Attachment idempotency"
This was suggested during [ASB client's message size bug conversation](https://github.com/Azure/azure-service-bus-dotnet/issues/109#issuecomment-384817088).

When message is not sent successfully and retried, the plugin will create a duplicate blob.
This could be prevented by making the plugin idempotent. Since information about blob is stored in the message headers, this information can be used t

[2018-04-27 07:42] tomkerkhove commented on #40
This is a nice feature! Just curious - How will you track the idempotency? Via a flag that you already created the blob?

[2018-04-30 07:02] #40 closed

[2018-04-30 07:09] SeanFeldman commented on #40
- "A way to disable idempotency" - won't implement until is requested.
- "What happens if a new message is a clone of another message that happened to have" - clones are created by developers, that will be in charge of removing the header from the clones if needed.

[2018-05-01 18:04] SeanFeldman opened #42 "No need to multitarget"
`<TargetFrameworks>netstandard2.0;net461</TargetFrameworks>`

[`net461` implements `netstandard2.0`](https://docs.microsoft.com/en-us/dotnet/standard/net-standard) therefore no need to multi-target.
Should be  `<TargetFramework>netstandard2.0</TargetFramework>`

[2018-05-01 18:07] SeanFeldman opened #43 "Simplify how PDBs are included in the package"
https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/blob/2bdc3e140e428b8d6505ebb20578b5b1a80fb041/src/ServiceBus.AttachmentPlugin/ServiceBus.AttachmentPlugin.csproj#L21

and

https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/blob/2bdc3e140e428b8d6505ebb20578b5b1a80fb041/src/ServiceBus.AttachmentPlugin/ServiceBus.AttachmentPlugin.csproj#L18

should be replaced with a property in the

[2018-05-01 19:19] SeanFeldman opened #44 "Consider using Microsoft.DotNet.Analyzers.Compatibility"
To ensure no deprecated APIs are used.

[2018-05-02 03:24] SeanFeldman opened #45 "Add a sample to the ASB samples repo"
Samples repo: https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet

[2018-05-02 04:01] #43 closed

[2018-05-05 14:01] SeanFeldman opened #46 "Tracking nuget dependency changes"
Candidates
- https://github.com/davkean/maket
- https://github.com/NuKeeperDotNet/NuKeeper

[2018-05-11 16:54] SeanFeldman opened #47 "Memory<T> - review how applicable it is"
https://github.com/dotnet/corefxlab/blob/master/docs/specs/memory.md

[2018-06-13 17:11] SeanFeldman opened #48 "SourceLink is not working with .NET Framework"
There is currently a bug with Visual Studio 2017 [SDK-style projects](https://github.com/dotnet/sdk/issues/1458) that prevents Source Link from working when the project targets the .NET Framework. A [workaround](https://github.com/dotnet/sdk/issues/1458#issuecomment-362685678) for the bug is to add the [SourceLink.Copy.PdbFiles NuGet package](https://www.nuget.org/packages/SourceLink.Copy.PdbFiles

[2018-06-19 06:59] darrenshrwd opened #49 "Consider support for using SAS Key to publish rather than account Key"
Today I just added like this in my clone, which presumes use of same config variable, thinking it is not great though.

                if (configuration.ConnectionString.StartsWith("DefaultEndpointsProtocol"))
                {
                    var account = CloudStorageAccount.Parse(configuration.ConnectionString);
                    client = account.CreateCloudBlobClient();

[2018-06-19 07:09] darrenshrwd commented on #49
I could do a PR, as I said my current solution seems hacky, probably mull it over.

[2018-06-19 15:51] SeanFeldman commented on #49
Hi @darrenshrwd,
Could you please provide a bit more details to understand what is the problem you're having and trying to solve? Thanks.

[2018-06-20 23:40] darrenshrwd commented on #49
The problem is just a requirement in my team to have the account key exposed to as few people as possible and therefore use a SAS for publishing, it is ok to use a long term account level SAS, but using a SAS requires using a different contructor for CloudBlobClient. Anyway happy for you to close issue as probably unusual requirement, I can just use the source code.  FYI I decided it is better swi

[2018-06-21 00:28] SeanFeldman commented on #49
I'd rather understand your scenario and help with implementation they have
you create your own code in a fork you'll have to maintain. Which will mean
you'll have to constantly update whenever there're bug fixes it new
features 🙂

So your scenario requires to use a SAS for sending. There's already an
option to receive attachments w/o having an access to the storage account.
That's done by embeddin

[2018-06-21 04:40] SeanFeldman commented on #49
Ok. So it sounds like a reasonable request to implement. Rather than going through condition on the connection string, it should probably be expressed via configuration API to be very explicit. Want to give it a shot?

[2018-06-21 23:19] ctaggart commented on #48
We sure you get SourceLink.Copy.PdbFiles 2.8.3 just published which has the updated workaround

[2018-06-22 05:17] darrenshrwd commented on #49
It's about time I helped on some open source, not sure when I will get a chance as this was just a low priority 'we _should_ do that' task until the next more important thing came up.  However I did notice a got a couple of build errors when I fetched either branch of source, if you know what these are, I will try to find the time to do the feature (the way you suggest):

Severity	Code	Description

[2018-06-22 05:29] SeanFeldman commented on #49
No errors on this end and build server (AppVeyor).
What version of VS are you using? 2017.latest should work.

[2018-07-19 00:04] loga0060 opened #50 "Microsoft.Azure.ServiceBus.ServiceBusCommunicationException"
---
name: Microsoft.Azure.ServiceBus.ServiceBusCommunicationException

I have checked the connection string and it is fine. It does store a file in the blob but doesn't send message to ASB is there a setting i am missing
---

**Describe the bug**

Microsoft.Azure.ServiceBus.ServiceBusCommunicationException
  HResult=0x80131500
  Message=No connection could be made because the target machine active

[2018-07-19 00:15] SeanFeldman commented on #50
The exception (`Microsoft.Azure.ServiceBus.ServiceBusCommunicationException`) with message "No connection could be made because the target machine actively refused it ErrorCode: ConnectionRefused" indicates either an issue with ASB connection string or connectivity issues. Have you tried sending a message using ASB connection string w/o attachment plugin?

[2018-07-19 00:42] loga0060 commented on #50
Sean thanks for the reply, it looks like a firewall issue i just tried it from my home and it works.

[2018-07-19 00:43] SeanFeldman commented on #50
👍 sounds good

[2018-07-19 00:43] #50 closed

[2018-08-07 15:54] SeanFeldman opened #52 "Backport Fix for Container.CreateIfNotExist HTTP status 409"
Backport fix (#51) for `Container.CreateIfNotExist` that returns HTTP status 409.

[2018-08-08 06:51] SeanFeldman commented on #52
Closed via 391c98b2a0916eaa0b6abed9c3a84597d39f556a

[2018-08-08 06:51] #52 closed

[2018-08-08 07:09] SeanFeldman commented on #49
@darrenshrwd is this something you'd like to PR?

[2018-08-11 00:01] SeanFeldman opened #53 "Update ASB client to 3.1.0 stable"
[3.1.0 Package](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/3.1.0)
[Release notes](https://github.com/Azure/azure-service-bus-dotnet/releases)

[2018-08-12 04:29] SeanFeldman commented on #53
Not needed.

[2018-08-12 04:29] #53 closed

[2018-08-20 21:23] SeanFeldman opened #54 "Switch to Microsoft SourceLink and use <PublishRepositoryUrl>"
`<PackageReference Include="Microsoft.SourceLink.GitHub" Version="1.0.0-beta-63127-02" PrivateAssets="None" />`

[code]

Then can get rid of explicitly setting `RepositoryUrl` and `RepositoryType`.
https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/blob/830f419b380c4dbaba4da8d53128acd21948adae/src/ServiceBus.AttachmentPlugin/ServiceBus.AttachmentPlugin.csproj#L26-L30 would need to be repla

[2018-08-21 21:30] #54 closed

[2018-08-22 05:45] SeanFeldman commented on #48
Fixed by #54

[2018-08-22 05:45] #48 closed

[2018-08-22 05:46] #39 closed

[2018-08-22 05:50] ctaggart commented on #48
Nice work @SeanFeldman

[2018-10-08 18:11] Blackbaud-DanHamlin opened #56 "Question: Compatibility with Service bus client 3.x"
Has any testing been done with newer version of Microsoft.Azure.ServiceBus.
It depends on >= 2.0.0 but 3.x is the current version.

[2018-10-08 18:14] SeanFeldman commented on #56
The APIs of the ASB client required for the plugin to work have not changed since 2.0. Have you ran into a specific issue when using ASB 3.x client?

[2018-10-09 04:42] SeanFeldman commented on #56
It works as expected. Please re-open issue if you find something that is not working. Thank you.

[2018-10-09 04:42] #56 closed

[2018-10-24 18:10] djrosanova commented on #45
I will get this done!

[2018-10-25 00:00] SeanFeldman commented on #45
@djrosanova there's a [test app](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin.KeyVaultProvider/tree/develop/src/KeyVaultProvider.TestApp) that could be used as a sample base if you'd like.

[2018-10-25 00:02] SeanFeldman opened #58 "Stay on top of dependencies"
Options:
- [Dependabot](https://dependabot.com)
- [Renovate](https://github.com/apps/renovate)

[2018-10-26 18:30] nemakam commented on #42
Looks like this is indeed causing a problem.
Will have to revert this change for next release. Multiple people have complained.
In VS2017, it works, but in VS2015 it doesn't as it doesn't know how to make sense of the net standard package (though it should ideally work on 4.6.1)

[2018-10-26 18:43] nemakam commented on #42
Take a look at - https://github.com/dotnet/standard/issues/481
They have a few workarounds present which did not easily work out when I tried. But either way, I would think its better to revert this change

[2018-10-26 22:42] SeanFeldman commented on #42
So "standard" is not what it means... sigh 🙁
I'll add `<TargetFrameworks>netstandard2.0;net461</TargetFrameworks>` back.

[2018-10-26 22:47] dependabot[bot] opened #59 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can

[2018-10-26 22:49] #59 closed

[2018-11-01 05:31] SeanFeldman commented on #46
Fixed via #58

[2018-11-01 05:31] #46 closed

[2018-11-01 05:37] #42 closed

[2018-11-01 05:40] SeanFeldman commented on #42
3.0.1 will address this.

[2018-11-05 07:14] ToonVanhoutte opened #67 "Considered adding compression functionality"
---
name: Feature request
about: Considered adding compression functionality

---

**Is your feature request related to a problem? Please describe.**
Not exactly a problem, but an interesting use case.  We're implementing a messaging strategy between headquarters and several ships.  The ships / vessels can be disconnected for longer periods, so Azure Service Bus queuing is a good option.  We're fa

[2018-11-05 07:35] tomkerkhove commented on #67
I'm curious - Why would you want to have this in this plugin over a plugin that runs before this one?

@SeanFeldman I'm presuming you can plugins here, that's the case right?

[2018-11-05 16:55] SeanFeldman commented on #67
@ToonVanhoutte I'm guessing payload, even if compressed, still can surpass message max length. Is that the case?

@tomkerkhove your question seems to be missing something. Want to repeat?

[2018-11-05 17:56] tomkerkhove commented on #67
That's right but I'm more wondering why you would want to have the compression as part of this plug in or if another plug in would make more sense.

My question was if you can chain plug-ins to a sort of pipeline or not. (I think but not sure) That's why I would split this to have one plug in per use case.

Anyway, was just curious!

[2018-11-06 08:57] ToonVanhoutte commented on #67
@SeanFeldman: yes indeed, claim-check as such will still be needed, even after compression.

[2018-11-06 09:06] tomkerkhove commented on #67
The more I think about this, the more I think a ServiceBus.CompressionPlugin would make more sense to be honest. This one can work on the result of that but should just apply the claim check pattern

[2018-11-06 19:10] thiagosoeiro commented on #31
Any updates on this?

[2018-11-06 19:29] SeanFeldman commented on #31
@thiagosoeiro I'm not sure how re-posting this question here helps. The bottleneck is not the plugin, but Azure Functions (host?) since it doesn't allow _any_ plugins registration. Therefore the [question you posted](https://github.com/Azure/azure-functions-host/issues/2504#issuecomment-436372668) on the issue for Functions feature request is the one you want to persist asking.

[2018-11-06 19:30] thiagosoeiro commented on #31
Thanks!

[2018-11-07 07:16] SeanFeldman commented on #67
Thanks @ToonVanhoutte. In that case what @tomkerkhove is saying is correct. Similar to "prefer composition over inheritance", it would make more sense to have a separate plugin with a sole responsibility to compress data.

A few more questions to get better understanding
1. Would you say _any_ message going of a vessel would need to be compressed, or there's be some condition?
1. If there's any co

[2018-11-28 07:34] SeanFeldman opened #69 "Consider MinVer for versioning"
[MinVer](https://www.nuget.org/packages/MinVer/1.0.0-beta.1) will simplify versioning and remove manual stamping done today with .csproj.

[2018-12-17 07:58] SeanFeldman commented on #67
@ToonVanhoutte you didn't get back to me on [these questions](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/issues/67#issuecomment-436527317). From those, I'm more curious about compression algorithms you intend to use.

[2018-12-18 07:38] SeanFeldman commented on #67
The preview of [ServiceBus.CompressionPlugin](https://www.nuget.org/packages/ServiceBus.CompressionPlugin/1.0.0-preview-001) is available.
For bugs and feedback, use ServiceBus.CompressionPlugin [issue tracker](https://github.com/SeanFeldman/ServiceBus.CompressionPlugin/issues).

[2018-12-18 07:38] #67 closed

[2018-12-18 07:55] ToonVanhoutte commented on #67
Really great, Sean :-)  I must have missed your previous questions!  I'll answer them in the new repo!

[2018-12-23 02:01] SeanFeldman opened #71 "Standardize on namespace"
`Microsoft.Azure.ServiceBus` should be the namespace for public types for easy discovery.

[2018-12-24 01:04] SeanFeldman opened #72 "Add public API approval"

[2018-12-24 21:03] #71 closed

[2018-12-24 21:03] #72 closed

[2018-12-28 00:41] djrosanova opened #74 "Enable using Service SAS on a container for writing blobs to storage"
---
name: Support for Service SAS to further lock down storage access
about: Locking down customer access to a container level will help align security boundaries that are already supported in Service Bus - like per Queue SAS.

---
If you use a single storage account and single Service Bus namespace with multiple trading partners or departments you may want to limit which entities they each have a

[2018-12-28 23:45] SeanFeldman commented on #74
If I'd sum up the capabilities of the plugin today, this is what it looks like:

| Sender using\Receiver using | Account Key | Embedded SAS |
|-----------------------------|:-------------:|:--------------:|
| Account Key                 |      X      |       X      |

With the proposed feature, options would be extended to support the following scenarios:

| Sender using\Receiver using | Account K

[2018-12-29 21:45] djrosanova commented on #74
I like both the table and the proposal. I think this helps not break anything and doesn't overcomplicate the API. Sending with a container SAS and trying to embed a new SAS will throw at runtime and the error is very clear.

[2018-12-30 04:48] SeanFeldman commented on #74
Anyone who'll be using a **container SAS** w/ or w/o stored access policy will always know the container name and the SAS query string to configure the plugin. For that reason, I'm not sure about the need in `.WithAccessPolicy(policyName)`.

At the same time, overloading the current constructor for `AzureStorageAttachmentConfiguration` would be very confusing. Is it a connection string? Or is it a

[2018-12-30 06:49] SeanFeldman opened #75 "ShouldContinueOnException should be set to true to throw whenever attachment plugin fails"
The plugin currently uses the default, which is continue on exceptions.
This could lead to incorrect behaviour, leading to messages losing their bodies.

[2018-12-30 06:53] SeanFeldman opened #76 "Base plugin name should be reported and not its variants"
The plugin (`AzureStorageAttachment`) has internal variant `ReceiveOnlyAzureStorageAttachment` which should also report its name as the base plugin. Currently, `ReceiveOnlyAzureStorageAttachment` is the name that is getting reported when a variant of plugin with embedded SAS URI is used.

[2018-12-30 09:15] SeanFeldman commented on #74
Proof of concept: sending with account key (connection string), receiving with SAS + Stored Access Policy.

https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/blob/2847b215051735649003676ca145af407c526389/src/ServiceBus.AttachmentPlugin.Tests/When_sending_message_using_connection_string.cs#L141

[2018-12-30 10:00] SeanFeldman commented on #74
@djrosanova [4.1.0-preview-001](https://www.nuget.org/packages/ServiceBus.AttachmentPlugin/4.1.0-preview-001) is up. Still rough, but should be possible to verify it does what you need.

[2019-01-02 20:07] adnanrahat opened #78 "Make the ServiceBusAttachment.Plugin.dll strongly named"
---
name: Feature request
about: Suggest an idea for this project

If a dll is not strongly named, it can't be used from other strongly named components. For that, it would be helpful to make the ServiceBusAttachment.Plugin strongly named. There are several benefits by making a dll strongly named as described here
https://docs.microsoft.com/en-us/dotnet/framework/app-domains/strong-named-assemblie

[2019-01-04 06:56] SeanFeldman commented on #74
Have a look at an alternative PR #80. It uses `StorageCredentials` and I'll be able to extrapolate that beyond SAS option to other configuration options:
- The existing connection string
- Additional API to accept cccount name/ key value

With `StorageCredentials` one has to pass an additional piece of information, an account URI (e.g. `https://account-name.blob.core.windows.net/`). But that would

[2019-01-04 16:04] SeanFeldman opened #81 "Add contributing.md"
Cover
- Design principles
- Testing
- Public API approval
- CI

[2019-01-04 19:20] SeanFeldman commented on #74
@djrosanova [4.1.0-preview-002](https://www.nuget.org/packages/ServiceBus.AttachmentPlugin/4.1.0-preview-002) is out with `StorageCredentials` replacing the custom `SharedAccessSignature` configuration option. Take it for a spin?

[2019-01-06 10:01] SeanFeldman commented on #74
@djrosanova [4.1.0-preview-003](https://www.nuget.org/packages/ServiceBus.AttachmentPlugin/4.1.0-preview-003) is out. This build should work with Account/Service SAS, Connection String, and Blob SAS (embedded for receive-only scenario). Additionally, the plugin is no longer needs to be `IDisposable`, meaning there's no life cycle management and less chances to leak 🎉

[2019-01-07 07:07] SeanFeldman commented on #74
I've pushed [4.1.0-preview-005](https://www.nuget.org/packages/ServiceBus.AttachmentPlugin/4.1.0-preview-005) to address a bug. Tested the following:

1. Shared Key
1. Account SAS
1. Container SAS

Something worthy to mention:
- Container can only be created when a Shared Key or a Account SAS is used.
- Storage Emulator has a bug - when container is removed, Container SAS will recreate it. For rea

[2019-01-08 05:51] #76 closed

[2019-01-08 05:56] #75 closed

[2019-01-08 06:16] SeanFeldman opened #82 "Rename configuration API .WithSasUri to .WithBlobSasUri"
When embedding a SAS URI it's a blob SAS URI.
Introduce an overload with proper name. Obsolete old API with warning in v4 and deprecate in v5.

[2019-01-08 06:18] SeanFeldman commented on #82
fixed via 3a5b598d38919f44de36b5a24e3bdbebeb9d1be4

[2019-01-08 06:18] #82 closed

[2019-01-16 13:16] SeanFeldman opened #85 "Deprecate with error .WithSasUri() API"
Completes #82 by removing an old API

[2019-01-29 03:04] SeanFeldman opened #86 "Document optional cleanup"
The plugin looks at the `TimeToLive` property of the message sent out and sets a custom blob metadata `_ValidUntilUtc` if the value is other than `TimeSpan.MaxValue` if found.

In case it's deemed appropriate to remove the attachment blob, the receiving party could use blob ID represented by custom metadata [configured using plugin confusion API](https://github.com/SeanFeldman/ServiceBus.Attachmen

[2019-01-29 13:11] adnanrahat commented on #86
Couple options come in my mind
1) Delete the blob at the end of AfterMessageReceive() has successfully retrieved the message from the blob. However, the risks of a failure happening in MessageReceiver code (which I think is called after the plugin method is invoked) need to considered.
2) Set some policy to expire the message after some time. https://docs.microsoft.com/en-us/azure/storage/blobs/st

[2019-01-29 13:35] SeanFeldman commented on #86
Both options you've raise @adnanrahat don't really belong to the plugin itself and are heavily influenced by certain business rules. There are additional cases I can think of that cleanup strategy is difficult. For example, message that is an event. Which subscriber should perform the cleanup? How do individual subscribers know when the last subscriber has finished a successful processing of the m

[2019-02-06 04:00] SeanFeldman commented on #86
[Cleanup section](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/blob/develop/README.md#cleanup) added.

[2019-02-06 04:00] #86 closed

[2019-03-15 04:51] SeanFeldman commented on #45
Cloud Design Patterns has added [Claim Check pattern documentation](https://docs.microsoft.com/en-us/azure/architecture/patterns/claim-check#claim-check-generation-with-service-bus) with ASB implementation using `ServiceBus.AttachmentPlugin`. It also include [code sample](https://github.com/mspnp/cloud-design-patterns/tree/master/claim-check/code-samples/sample-3).

[2019-03-15 04:51] #45 closed

[2019-03-15 20:16] SeanFeldman commented on #78
@adnanrahat sorry it took a while. 5.0.0 will be coming out shortly, along with this change.

[2019-03-15 20:25] #78 closed

[2019-03-15 20:58] SeanFeldman opened #99 "Remove deprecated with error .WithSasUri() API"
Deprecated with warning in v4.
Deprecated with error in v5.
Needs to be removed.

[2019-03-15 20:58] SeanFeldman commented on #85
Fixed via ccde3c57ecb10fd0783e0c55f5a134c811ac1e9d

[2019-03-15 20:58] #85 closed

[2019-03-29 03:51] SeanFeldman opened #101 "Custom message converter for Azure Functions ServiceBusTrigger"
[Original](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/pull/97#issuecomment-477575645) comment by @jstclair:

[2019-03-29 04:21] SeanFeldman commented on #101
@jstclair that sounds like a good idea if someone wants to use it with Functions 2.x.
I've went through some of the [official documentation](https://github.com/Azure/azure-webjobs-sdk/wiki/Creating-custom-input-and-output-bindings#3-add-converters) to get an idea what it would look like.

Already existing converters are:
- Incoming
  - [`MessageToByteArrayConverter : IAsyncConverter<Message, byte[

[2019-03-29 14:36] jstclair commented on #101
Sure. I'll have some time this weekend. Just to be clear, since you are mentioning the binding - the idea would be to use the Message extension methods from the previous PR in the converter implementation(s)?

[2019-03-29 14:40] SeanFeldman commented on #101
Haven't looked into details, but I'd think so if we get message in/out. Would be interesting to see how custom configuration would be specified with Functions framework.

[2019-04-06 16:46] SeanFeldman commented on #101
@jstclair have you had a chance to look into this?

[2019-06-07 06:37] msalzig opened #112 "The given key '$attachment.blob' was not present in the dictionary"
Hello Sean,

I use your plugin. When I receive a message, I get the following error message: The given key '$ attachment.blob' was not present in the dictionary. Looks like the file no longer exists in the blob storage. Can you help me here? Do you have an idea why this may be?

greeting
Michael

[2019-06-07 20:31] SeanFeldman commented on #112
Michael, I'm having a difficulty to locate this exception in the code. If the key is not found, the message is returned as-is and expected to be a message w/o an attachment ([code](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/blob/da8c170fad6e4001026ed0441a9b7b0a6f005b0f/src/ServiceBus.AttachmentPlugin/AzureStorageAttachment.cs#L108-L111)). Hence this error is a bit of a surprise.

T

[2019-06-15 18:37] SeanFeldman commented on #112
@msalzig are you still experiencing the issue? If you do, please refer to my previous comment if you want assistance.

[2019-06-16 04:09] msalzig commented on #112
Sean, Sorry for the late reply. I found the mistake. In the event that the messages are not placed in the BLOB storage, but only on the service bus, I still tried to access the BLOB storage.

[2019-06-16 05:12] SeanFeldman commented on #112
Sounds like you're manually trying to access the blob that has never been created. In that case, the plug-in works as expected. Going to close the issue. Please report if I misunderstood.

[2019-06-16 05:12] #112 closed

[2019-06-21 16:38] SeanFeldman commented on #101
@jstclair I'm going to close the issue as there seems to be no traction on it. In case you do have an update, let me know and I'll re-open it. Thank you.

[2019-06-21 16:38] #101 closed

[2019-06-21 16:56] SeanFeldman opened #115 "Remove AzureStorageAttachmentExtensions accepting EntityClient"
PR https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/pull/114 has introduced overloads that rely on the `IClientEntity` contract, which will also work with `ClientEntity` and other specific classes implementing/extending these two. Extension methods taking `ClientEntity` can be safely removed in v6.

[2019-06-21 17:04] SeanFeldman opened #116 "Use Microsoft.Azure.Storage.Blob instead of WindowsAzure.Storage"
Microsoft.Azure.Storage.Blob is the continuation of WindowsAzure.Storage, specifically designed for Azure Storage Blobs.

[2019-10-29 10:21] CasperWSchmidt commented on #116
Any ETA for 6.0.0? I would like to void dependencies on WindowsAzure.Storage in my project, but am considering this package for implementing the claim check pattern you described [here](https://www.serverless360.com/blog/deal-with-large-service-bus-messages-using-claim-check-pattern) :)

[2019-10-29 20:09] SeanFeldman commented on #116
@CasperWSchmidt sorry, got a bit distracted. I'm hoping to get to this by the weekend and let a preview version out to see if there's anything major. If nothing is found, shortly after to have an RTM.

[2019-10-30 04:17] #99 closed

[2019-10-30 04:17] #115 closed

[2019-10-30 04:17] #116 closed

[2019-10-30 04:45] SeanFeldman commented on #116
[6.0.0-preview01](https://www.nuget.org/packages/ServiceBus.AttachmentPlugin/6.0.0-preview01) is on NuGet. Give it a whirl and if no issues identified in a few days, I'll release the stable.

[2019-10-30 16:45] SeanFeldman commented on #116
@CasperWSchmidt give it a try?

[2019-10-30 18:52] CasperWSchmidt commented on #116
I will, but it looks good 😊

[2019-10-30 21:02] SeanFeldman commented on #116
The tests are green, but I don't know how people use it and wherever there's an edge case or not.

[2019-10-31 07:23] CasperWSchmidt commented on #116
I have just started using it in an internal NuGet package for our infrastructure (communication with Azure Service Bus, Application Insights etc.)
I had to wrap it though to enable unit testing but I guess that's a different issue :)

[2019-10-31 17:22] SeanFeldman commented on #116
Please raise the issue if that's affecting you.

Looking forward to your confirmation it's working well with the new dependencies.

[2019-11-04 17:31] CasperWSchmidt commented on #116
Everything looks fine. I have worked around the missing interface by abstracting the library away behind my own implementation😊
I do have issues with the key vault extension however, and have created issues in that repository

[2019-11-04 18:09] SeanFeldman commented on #116
Sounds good. I'll have a look at those.
Thank you for verifying. I'll have a look at the keyvault issues. If they are unrelated to this repo, will push out an RTM this week.

[2019-11-07 22:29] SeanFeldman opened #149 "Consider switching to portable PDB"
`<DebugType>embedded</DebugType>`

[2019-11-12 04:49] SeanFeldman opened #152 "Enable nullable reference types"
https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8

[2019-11-12 04:51] SeanFeldman commented on #116
I'm adding nullable reference types in v6 (C# 8) via PR #151

[2019-11-12 04:51] #152 closed

[2019-11-12 18:16] SeanFeldman commented on #116
@CasperWSchmidt [AttachmentPlugin 6.0.0](https://www.nuget.org/packages/ServiceBus.AttachmentPlugin/6.0.0) and [ServiceBus.AttachmentPlugin.KeyVaultProvider 3.0.0](https://www.nuget.org/packages/ServiceBus.AttachmentPlugin.KeyVaultProvider/3.0.0) are out.

[2020-02-26 11:51] CasperWSchmidt opened #178 "Support customization of attachment names in blob storage"
**Is your feature request related to a problem? Please describe.**
We have a a lot of events going through Azure Service Bus. Trying to find a specific one is quite hard.

**Describe the solution you'd like**
We would like to have some structure in the naming, fx. by having a Func<Message, string> in the configuration to decide the blob name. In our case something like date/topicName/messageId wou

[2020-02-26 22:47] SeanFeldman commented on #178
It sounds like a legitimate ask. If you'd like to give it a try, absolutely.
There are a few things to consider.

1. Container and the rest of the blob path need to be controlled separately.
2. Can this be implemented as an extension rather than a configuration class change, given it's working for most users so it would need to be an extension

Thinking quickly here, I'd rather not modify the conf

[2020-02-27 07:12] CasperWSchmidt commented on #178
@SeanFeldman I get that you would prefer to not make breaking changes, but I don't see how the configuration can store the new `Func` without adding a property to the configuration (`AzureStorageAttachmentConfiguration`) since C# does not have extension properties (yet). If the configuration needs a new property, I don't see why this can't be added to the constructor as an optional parameter (afte

[2020-02-27 18:14] SeanFeldman commented on #178
You're correct about adding another overload to the constructor. I'm just not sure how frequent this feature is to make it part of an overload.

Let's see how it plays out on the PR. Perhaps I'm overthinking it 🙂

[2020-02-28 00:47] SeanFeldman commented on #178
@CasperWSchmidt thank you for the PR.
Please have a look at what I've done based on your PR: #180.

[2020-02-28 00:51] SeanFeldman opened #181 "Add Managed Identity support"
Managed Identity is possible with both Service Bus and Storage Blobs.

[2020-02-28 06:53] CasperWSchmidt commented on #178
@SeanFeldman I don't see why the extension version is so much better than mine - the configuration is still changed (internal property added). With an optional parameter the api is not changed in a way that affects people updating. The only issue could be unit tests using mocks where even optional parameters must be specified (that's how Moq works).

That said, it is your project and your solution

[2020-02-28 08:01] SeanFeldman commented on #178
@CasperWSchmidt by no means was my intent to even hint that it's "better". As a matter of fact, the alternative is entirely based on **your** suggestion and initial PR. The reason I'd rather go with an extension method is to isolate the intent and make it very explicit rather than add to an already overwhelming list of optional parameters.

Regarding releasing - I was thinking to add Managed Ident

[2020-02-28 08:04] #178 closed

[2020-02-28 08:42] CasperWSchmidt commented on #178
@SeanFeldman okay "better" might not be the best word, but I didn't quite get why you were so keen on the extension when the configuration had to be changed. I do now and you're right. Too many (optional) parameters is a code-smell :)

[2020-03-19 16:38] SeanFeldman opened #184 "Log with ILogger"
ILogger is available via new Storage SDK, inject that and log what's needed.

[2020-04-03 09:31] sorenhansen opened #185 "Consider making AzureStorageAttachmentConfiguration settings public"
Consider making the settings that can be provided through the constructors of [`AzureStorageAttachmentConfiguration`](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/blob/develop/src/ServiceBus.AttachmentPlugin/AzureStorageAttachmentConfiguration.cs) `public` instead of `internal`. This way it's easy to reuse a configuration when implementing clean up.

In particular the following setti

[2020-04-06 03:45] SeanFeldman commented on #185
Could you please describe how is it helping to implement the clean-up?

[2020-04-07 13:23] sorenhansen commented on #185
For now I use an instance of my own `AzureStorageSettings` class to hold the settings for both the plugin and my clean-up routine, even though `ContainerName` and `MessagePropertyToIdentifyAttachmentBlob` have the default values. Since they are internal, I can't read them when I need them for cleaning-up.

If these settings were public, I could just use an instance of `AttachmentStorageAttachmentC

[2020-04-07 22:14] jcools85 opened #187 "Add support for SB-Messaging adapter (empty message body rather than null)"
I'm using ServiceBus.AttachmentPlugin in a hybrid integration solution, and my consumer (in this case BizTalk's SB-Messaging adapter) doesn't like the ServiceBus message body being null.
I can replace the message body stream in the receive pipeline to let my flow work, but the SB-Messaging adapter still logs an error in the eventlog:

Proposed solution:
Add an option to the AzureStorageAttachmentC

[2020-04-08 03:39] SeanFeldman commented on #187
@jcools85 would an empty byte array work for your scenario?

[2020-04-08 03:56] SeanFeldman commented on #185
Thank you, that does help.

This is how I understand it at this point. To perform the clean-up you require the following:
1. `ContainerName`
1. `MessagePropertyToIdentifyAttachmentBlob`
1. `ConnectionString`

There are two scenarios: using the defaults and overriding those.

Focusing on `ContainerName` and `MessagePropertyToIdentifyAttachmentBlob` let's assume you're using the defaults. Both prope

[2020-04-08 08:46] jcools85 commented on #187
@SeanFeldman yes, just tested with an empty byte array and that seems to work.

[2020-04-09 06:37] SeanFeldman commented on #187
@jcools85 have a look at the change [here](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/pull/188/files#diff-36b458d16056022041075d230a8b45fc). This would need to be an opt-in configuration. Would that work for your scenario?

[2020-04-09 06:38] SeanFeldman commented on #187
Also, would it be correct to say that this issue adds support for "BizTalk's Service Bus Messaging adapter"?

[2020-04-09 09:51] jcools85 commented on #187
Looks good! That would indeed work for my scenario.
And yes, you could say this adds support for the SB-Messaging adapter, because besides this little issue it works perfectly. You do however have to build the "receive" logic in BizTalk. But a simple pipeline component that replaces the body stream with a new stream from blobstorage does the trick.

[2020-04-09 16:49] SeanFeldman commented on #187
Great. I'll release that over the weekend.

Great. I love to see CodeIt leveraging this plugin for various solutions.

That's likely due to the fact that the receiving part of the [SB-Messaging adapter](https://docs.microsoft.com/en-us/biztalk/core/sb-messaging-adapter) assumes the body is always there. Which is OK as long as the BT pipeline allows you to have the step before to consolidate the pa

[2020-04-09 16:52] SeanFeldman commented on #185
@sorenhansen any thoughts on the last comment?

[2020-04-09 18:42] jcools85 commented on #187
Thanks for handling this request so swiftly @SeanFeldman !
Will be used in production at one of our customers before summer :)

[2020-04-09 20:42] sorenhansen commented on #185
@SeanFeldman Sorry for the late reply, I've been busy with my Easter vacation :-)

Your understanding is right, and you're right about the two scenarios. It's the first one I've run into. I would like the default configuration values to be publicly available.

I can agree with you on the second scanario, where I'm using custom values. Then my code definitely owns the values.

How about having the

[2020-04-09 22:26] SeanFeldman commented on #185
@sorenhansen, no worries. Sorry for disturbing you during your holiday.

This is exactly the direction I was leading you to 🙂
Happy to hear we've found an understanding. I'll have a look at the changes and if everything is good, release this weekend.

[2020-04-09 23:45] sorenhansen commented on #185
@SeanFeldman Thanks for the feedback. I think the end result is better than my original suggestion 👍

[2020-04-10 00:03] SeanFeldman commented on #185
@sorenhansen what's your Twitter handler (for credits)?
Also, if you don't mind to share the info about your company or project that uses this plugin for. I'm always happy to add names to the [wall of fame](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin#whos-trusting-this-plugin-in-production).
If you don't want to do it publicly, you can always ping me directly at feldman.sean @ gmail

[2020-04-10 00:08] sorenhansen commented on #185
Twitter: @sorenhansen_dk

About company/project, I'll have to get clearance from the top brass, so it will be after Easter.

[2020-04-10 00:10] SeanFeldman commented on #187
@jcools85 do you mind to share your Twitter account (for credits)?

[2020-04-10 03:46] #187 closed

[2020-04-10 04:04] SeanFeldman commented on #185
Closed via 7dfff04543faaa476f73a2d8e49e50b8dee61d5b

[2020-04-10 04:04] #185 closed

[2020-04-10 07:49] jcools85 commented on #187
Sure! my twitter handle is @jcools85 as well. I just followed you, was surprised to see I wasn't following you there already, because you do pop up on my feed a lot :D

[2020-04-13 02:13] SeanFeldman commented on #184
Alternatively, log with TraceEvent

[2020-04-15 04:44] SeanFeldman opened #190 "Add TraceEvents"
https://github.com/microsoft/perfview/blob/master/documentation/TraceEvent/TraceEventProgrammersGuide.md

Spike: https://github.com/Particular/NServiceBus/pull/5465

[2020-04-15 04:45] SeanFeldman commented on #184
Replaced by https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/issues/190

[2020-04-15 04:45] #184 closed

[2020-04-16 18:47] SeanFeldman commented on #187
Found an [issue](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/commit/5dd469013df411c6e667a86ff400930cf8bc003f) with the body replacer. Will release once the other PR for the milestone is closed.

[2020-05-08 08:31] bryanvam opened #195 "Add constructor overload for type CloudStorageAccount on AzureStorageAttachmentConfiguration"

[2020-05-09 16:10] SeanFeldman commented on #195
@bryanvam could you please provide details on the use case and why the current API is not enough? I’d like to understand what specifically this change would help with. Thank you.

[2020-05-10 04:35] SeanFeldman opened #196 "Add support for Application Insights"
Azure Service Bus plugs into AppInsights.
It would be good for customers using ASB with AppInsights to be able to see calls to the storage in the context of message receive/send operations.

[2020-05-10 04:36] SeanFeldman commented on #196
@lmolkova is there any guidance for library creators on how to implement AppInsights support? Thank you.

[2020-05-12 08:30] bryanvam commented on #195
CloudStorageAccount.Parse(connectionString) returns CloudStorageAccount and is used to create a client. I often register this as a singleton instance so it is convinient to new up a client in different places. Injecting a connectionstring or passing it around in a IOptions adds extra complexity.

Example of one of my services taking in CloudStorageAccount

[code]

[2020-05-13 03:33] SeanFeldman opened #197 "Enable Storage Blob Index support with message TTL value"
Messages sent with a TTL value set custom blob metadata `_ValidUntilUtc`.
With [Storage Blob Index](https://docs.microsoft.com/en-ca/azure/storage/blobs/storage-manage-find-blobs?tabs=azure-portal) a custom index tag can be written (instead of or in addition to of blob metadata) and [Storage Blob Lifecycle Management policy](https://docs.microsoft.com/en-ca/azure/storage/blobs/storage-manage-find-

[2020-05-13 03:44] SeanFeldman opened #198 "Upgrade to Azure.Storage.Blobs"
[Version 12.x](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/README.md)
Will require Azure.Identity for authentication other than connection string

[2020-05-13 03:57] SeanFeldman commented on #195
The plugin does not use Blob clients. That's why it does not require `CloudStorageAccount`. But I can see two options for you moving forward where you do not have to provide a connection string.

**Option 1**

`AzureStorageAttachmentConfiguration` has an overload that accepts `StorageCredentials`. And `StorageCredentials` can be retrieved from a `CloudStorageAccount.Credentials`. It can also be us

[2020-05-15 03:44] SeanFeldman commented on #196
@cijothomas, maybe you could point me in the right direction? Thank you.

[2020-05-18 04:09] SeanFeldman commented on #195
@bryanvam, have you had a chance to review the options?
If you think that doesn't help, please let me know. Thanks.

[2020-05-18 05:05] SeanFeldman commented on #198
- Some v12 basic doco is [here](https://azuresdkdocs.blob.core.windows.net/$web/dotnet/Azure.Storage.Blobs/12.4.2/api/index.html)
- [Blob service error codes](https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-error-codes)

[2020-05-18 05:11] SeanFeldman commented on #198
User delegation SAS for blob or container [doco](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-user-delegation-sas-create-dotnet)

[2020-05-18 05:13] SeanFeldman opened #199 "Consider replacing Storage Emulator with Azurite"
https://github.com/azure/azurite

[2020-05-18 17:12] SeanFeldman opened #201 "Upgrade to Azure.Messaging.ServiceBus"
**Update 2023-02-11** `Azure.Messaging.ServiceBus` SDK's [approach to plugins](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md#plugins) has been refreshed. Details in the [comment](https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/issues/201#issuecomment-1426853883).

**Update 2020-06-26**: blocked by the [Azure SDK team's d

[2020-05-18 17:13] SeanFeldman opened #202 "Add support for cancellation token with ASB track 2"
Depends on #201 and #198

ASB track 2 and Storage Blobs v12 supports cancellation tokens.
When dependency issues are incorporated, review cancellation tokens use.

[2020-05-19 15:07] sitereactor opened #204 "Support using existing sas tokens for multi-tenant scenarios"
When operating in multi-tenant scenarios SAS Tokens for Blob Storage Containers might already exist and be used instead of full account access with storage keys. We have a scenario where we'd like to use this plugin, but we cannot provide storage credentials to blob storage, but we do have a SAS Token for a specific container where the plugin can storage the blob (such a token-to-container setup e

[2020-05-19 15:13] sitereactor commented on #204
I guess this speaks to this TODO: https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/blob/fcfeb65c7c96c0bccd4ffd397de869b0fb650ac7/src/ServiceBus.AttachmentPlugin/AzureStorageAttachment.cs#L76 :)

[2020-05-19 19:41] SeanFeldman commented on #204
@sitereactor, I'd love to find a way to do that, but my understanding was that to generate a SAS token, a connection string with service key has to be used. In case you find out there's another option, I'll be happy for a PR or link to how to achieve it.

Also, Storage v12 is a major redesign of how things work. I've already [started looking into](https://github.com/SeanFeldman/ServiceBus.Attachme

[2020-05-29 17:03] cijothomas commented on #196
Hi sorry for late reply.

Can you elaborate on the ask? Azure is embracing OpenTelemetry and any new features are going to come through OpenTelemetry. I'll need a bit more info on what you are trying to achieve before I can make more specific suggestion :)

[2020-06-02 03:08] #199 closed, assigned to nobody

[2020-06-02 04:38] SeanFeldman commented on #195
@bryanvam I'm going to close the issue as there was no follow-up. If the suggested options don't work, please let me know.

[2020-06-02 04:38] #195 closed, assigned to nobody

[2020-06-02 05:40] SeanFeldman commented on #196
@cijothomas no worries. This plugin is an extension to the Azure Service Bus library. What I'd like to achieve is to add tracing to the telemetry that customers get with ASB plus the additional calls this plugin is making to the storage accounts.

E.g., for incoming messages to tie into the message telemetry chain to show the storage call for the payload resolution. Or for outgoing messages to sho

[2020-06-02 16:02] cijothomas commented on #196
The general direction ApplicationInsights is heading towards is OpenTelemetry and the new System.Diagnostics.Activity from .NET.
So instead of connecting to ApplicationInsights directly, the telemetry flow would be something like Instrumentation (using Activity API) -> OpenTelemetry SDK -> ApplicationInsightsExporter.

I can share more information on this direction if you think this is what you ar

[2020-06-03 09:02] CasperWSchmidt commented on #181
Hi Sean

Any news on this? I will be happy to help, but I guess I need a bit more information about how to do this :)

[2020-06-04 03:41] SeanFeldman commented on #181
@CasperWSchmidt, no I did not have a chance to look into that as I was busy with looking into #205 to remove the dependency on the Storage emulator, #198 which is a breaking API change and will require a new major release, and #201 which will be similar to #198 but not even ready yet.

For this plugin to function, Managed Identity would only be needed for the [Storage v11 SDK](https://github.com/S

[2020-06-04 03:45] SeanFeldman commented on #204
@sitereactor, did you dig any deeper to see if anything has changed in Storage SDK v12?

[2020-06-04 04:11] SeanFeldman commented on #181
@CasperWSchmidt you can find how to construct `StorageCredentials` for Managed Identity in the code below:

[code]

And the method for token renewer:

[code]

This _could_ be all simplified and embedded into the plugin, but still, there'd be a need in a new configuration overload that takes in `RenewalTimeBeforeTokenExpires` to override the default the plugin would set. Do you have the time to sen

[2020-06-04 06:31] SeanFeldman opened #208 "Document how to use the plugin (v6) with Managed Identity"
Details: https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin/issues/181#issuecomment-638590843

How to construct `StorageCredentials` for Managed Identity in the code below:

[code]

And the method for token renewer:

[code]

This _could_ be all simplified and embedded into the plugin, but still, there'd be a need in a new configuration overload that takes in `RenewalTimeBeforeTokenExpires`

[2020-06-04 06:31] SeanFeldman commented on #208
@CasperWSchmidt  are you interested in taking a stab at that?

[2020-06-04 08:53] CasperWSchmidt commented on #208
I know you are not keen on more constructor overloads or additional parameters for the existing constructors. Perhaps this should just be included in some helper class (or library like the Key Vault provider) that helps set up the credentials used to create the configuration?

[2020-06-04 08:57] CasperWSchmidt commented on #181
Perhaps the upgrade to v12 mentioned in #198 should be handled before this? As far as I can see [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-samples-dotnet) and [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/samples/Sample01a_HelloWorld.cs#L210) it is quite easy with the new Azure Identity integration.

[2020-06-04 14:47] SeanFeldman commented on #181
Keep in mind that it would need not just the code change for the internals but also APIs review, documentation extension as Storage v11 and v12 are not the same. I'm working on things a little here and there but just didn't have enough time to wrap it up. I'm always happy to accept PRs 😃

[2020-06-04 14:52] SeanFeldman commented on #208
It's not about what I like but more about striking a balance. This is not a paid project and I don't have any supporters, so it's pretty much me supporting it. Sometimes it makes sense to expand public APIs and sometimes it's not. Take this request for example. Can you achieve what you want w/o code changes? Yes, document how to pass a properly constructed `StorageCredentials` into the plugin. It'

[2020-06-04 15:21] sitereactor commented on #204
Hey @SeanFeldman sorry about the lack of response. Got caught up in some work.

You are right about not being able to generate a SAS Token with a SAS Token, so the solution I would propose for the current Azure Storage API is to "bring your own token" and use that end to end. One approach could be to make it possible to pass your own implementation of `TokenGenerator` to handle the generation of a

[2020-06-05 06:07] SeanFeldman commented on #204
I'm somewhat confused. `TokenGenerator` works only when the `CloudBlockBlob` is generated using a key (`StorageCredentials.IsSharedKey == true`). If you have a custom `TokenGenerator`, it would need to be also created a key or else it won't work.

Please do. That will help me understand what do you have in mind.

That one will be completely different as v12 and v11 are two different SDK/APIs.

[2020-06-05 07:06] SeanFeldman commented on #196
Yes, that sounds like what I'd like to do. Please share 😍

[2020-06-16 05:33] SeanFeldman commented on #208
@CasperWSchmidt ping

[2020-06-16 11:32] CasperWSchmidt commented on #208
@SeanFeldman Sorry, haven't had the time to do this yet :(

[2020-06-17 06:06] SeanFeldman commented on #208
No worries, there's no rush. Did it make sense though to turn this into documentation update?

[2020-06-17 16:14] SeanFeldman opened #209 "NuGet - contains untracked sources"
![image](https://user-images.githubusercontent.com/1309622/84922622-5581dd80-b083-11ea-9948-db6742734e68.png)

https://github.com/dotnet/sourcelink/tree/master/docs#embeduntrackedsources
https://github.com/dotnet/sourcelink/issues/572

[2020-06-17 16:15] SeanFeldman opened #210 "NuGet - non-deterministic artifact"
![image](https://user-images.githubusercontent.com/1309622/84922670-6c283480-b083-11ea-8616-ef961ae87a09.png)

[2020-06-17 16:16] SeanFeldman opened #211 "NuGet - Compiler flags missing"
![image](https://user-images.githubusercontent.com/1309622/84922814-a09bf080-b083-11ea-9951-bfb14c254ff3.png)

[2020-06-17 16:18] SeanFeldman commented on #47
Will be addressed by #201

[2020-06-17 16:18] #47 closed

[2020-06-26 13:38] cijothomas commented on #196
Sorry, forgot to come back to this

please join OpenTelemetry .NET channel : https://gitter.im/open-telemetry/opentelemetry-dotnet?utm_source=share-link&utm_medium=link&utm_campaign=share-link

I'm in gitter so we can discuss more on this there.

[2020-06-26 22:18] SeanFeldman commented on #201
Blocked by the [Azure SDK team's decision](https://github.com/Azure/azure-sdk-for-net/issues/11986#issuecomment-650426842) to introduce plugins post GA.

[2020-06-26 22:26] SeanFeldman commented on #201
Blocked by the [Azure SDK team's decision](https://github.com/Azure/azure-sdk-for-net/issues/11986#issuecomment-650426842) to introduce plugins post GA. The [API is internalized](https://github.com/Azure/azure-sdk-for-net/pull/13032) and won't be available.

[2021-02-25 14:21] kosnkow opened #247 "how to use topics instead queues ?"
this is more like a question, in the implementation I saw that only supported is queue , topic not yet, true ?

[2021-02-25 18:48] SeanFeldman commented on #247
The plugin is not designed to be used with queues or topics. It's designed to be used with message senders/receivers. The claim-check pattern is implemented on the `Message` type. And messages can be sent to either. Hope that answers the question.

Note: the project is on hold as there are changes coming to ASB service that will potentially obsolete the need in the plugin.

[2021-02-25 18:48] #247 closed, assigned to nobody

[2021-03-15 10:01] JFesta opened #249 "Deprecated dependency: Microsoft.Azure.Storage.Blob"
Recently, the Microsoft.Azure.Storage.Blob package got deprecated. The alternate package should be instead Azure.Storage.Blobs.

Since in our solution we use ServiceBus.AttachmentPlugin in order to send and store messages larger than 256 KB, we can't switch to Azure.Storage.Blobs until this package gets updated.

Obviously, we could just implement a feature in our code to do this, but it would be

[2021-03-15 17:36] SeanFeldman commented on #249
@JFesta, thanks for raising the issue. First, where things are and why I haven't actioned those yet. There are two parts to this plugin:
1. Storage SDK
1. Service Bus SDK

It's not so recently that Microsoft has published Azure.Storage.Blobs. I was looking at it quite a while ago. Unfortunately, it's not a straight conversion, and some of the APIs were broken to the point I cannot achieve what I w

[2021-03-16 10:35] JFesta commented on #249
I didn't know there is a new ServiceBus SDK in development in the first place. I guess the old one is going to be deprecated soon as well.

I think there could be a reason to have a library that mixes the old and new SDKs, and that's for those situations where you need to stick to the old SB SDK (at least temporarily) for some reason, maybe because you're using some other specific plugins or some

[2021-03-16 18:47] SeanFeldman commented on #249
It's already [GA-ed](https://www.nuget.org/packages/Azure.Messaging.ServiceBus) 🙂
As far as I know, pipelines/plugins support was the only outstanding feature that was missing from v7 ASB SDK that was blocking this project.

Given the information about the premium tier, I'm having a hard time justifying time investment in getting this project updated to the latest Storage SDK and then later update

[2021-07-09 22:20] rmt2021 opened #258 "Transient error leads to container not found exception"
**Describe the bug**
We find that a transient error (e.g., temporary 503 server is busy) in `CreateIfNotExistsAsync`/`ExistsAsync` can lead to an unhandled container not found exception.
More concretely, in `BeforeMessageSend`
[code]
If `CreateIfNotExistsAsync` or `ExistsAsync` fails due to some transient error (like when the server is busy), the exception will be swallowed in the catch block with

[2021-07-10 02:30] SeanFeldman commented on #258
@rmt2021 that's a valid point. If you'd like to submit a PR go ahead. I'll review and merge if all good. Thank you.

[2021-07-14 16:41] rmt2021 commented on #258
@SeanFeldman Thanks for your reply.
I think a good fix should be to check the error code in the exception to decide the reason of the exception and the further actions to take. If it is caused by "a container SAS is used", we can just swallow the exception as it is doing now; otherwise we can just throw the exception (or retry the operation).
I am trying to implement that but I am not sure which e

[2021-07-16 18:20] SeanFeldman commented on #258
[The list](https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-error-codes) you're referring to is talking about the server-side errors. Inability to create a SAS token is unlikely a server-side error but rather a client-side as it's the SDK attempting to use the provided credentials to generate the SAS token. And if credentials are anything other than account name/key, it's not

[2022-02-28 09:50] basilfx commented on #201
Just for your information: at work, we have updated to Azure Functions V4. I have upgraded most of this package to work with the new SDK: https://github.com/basilfx/ServiceBus.AttachmentPlugin/tree/feature/azure_messaging_servicebus

Yes, this branch does not include the plugin capability, but we were not using it anyway (because of Azure Functions).

[2022-02-28 21:58] SeanFeldman commented on #201
@basilfx I'm no longer actively maintaining this project given the large message support provided officially by Microsoft.
I also haven't seen any issues raised about it. A new major version _could_ be released with a smaller API surface if you'd like to create a PR. API documentation would need to be updated to reflect the change.

[2022-08-06 23:49] #258 closed, assigned to nobody